html {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    color: #ffffff;
    background-color: #000000;
}

.hidden {
    display: none;
}

.flex {
    display: flex;
}

section {
    flex-direction: column;
}